<section class="login p-fixed d-flex text-center bg-primary common-img-bg">
  <!-- starts -->
  <div class="auth-fluid">
    <div class="row">
      <div class="col-sm-12">
        <!-- Authentication card start -->
        <div class="login-card card-body auth-body">
          <form class="md-float-material"
                *ngIf="!isSuccessful"
                name="form"
                (ngSubmit)="f.form.valid && onSubmit()"
                #f="ngForm"
                novalidate>
            <div class="text-center">
              <img src="assets/images/new-logo.png" alt="Mash Able">
            </div>
            <div class="auth-box">
              <div class="row m-b-20">
                <div class="col-md-12">
                  <h3 class="text-center txt-primary">Sign up. It is fast and easy.</h3>
                </div>
              </div>
              <hr/>
              <div class="input-group">
                <input type="text" class="form-control" name="username"
                       [(ngModel)]="form.name"
                       required
                       minlength="3"
                       maxlength="20"
                       #name="ngModel"
                       placeholder="Choose Username"/>
              <span class="md-line"></span>
            </div>
              <div class="alert-danger" *ngIf="f.submitted && name.invalid">
                <div *ngIf="name.errors.required">Username is required</div>
                <div *ngIf="name.errors.minlength">
                  Username must be at least 3 characters
                </div>
                <div *ngIf="name.errors.maxlength">
                  Username must be at most 20 characters
                </div>
              </div>
            <div class="input-group">
              <input type="text" class="form-control"
                     name="email"
                     [(ngModel)]="form.email"
                     required
                     email
                     #email="ngModel"
                     placeholder="Your Email Address">
              <span class="md-line"></span>
            </div>
              <div class="alert-danger" *ngIf="f.submitted && email.invalid">
                <div *ngIf="email.errors.required">Email is required</div>
                <div *ngIf="email.errors.email">
                  Email must be a valid email address
                </div>
              </div>
              <div class="input-group">
                <input type="password" class="form-control"
                       name="password"
                       [(ngModel)]="form.password"
                       required
                       minlength="6"
                       #password="ngModel"
                       placeholder="Choose Password">
                <span class="md-line"></span>
              </div>
              <div class="alert-danger" *ngIf="f.submitted && password.invalid">
                <div *ngIf="password.errors.required">Password is required</div>
                <div *ngIf="password.errors.minlength">
                  Password must be at least 6 characters
                </div>
              </div>
              <div class="input-group">
                <input type="password" class="form-control"
                       name="confirm-password"
                       [(ngModel)]="form.password_confirmation"
                       required
                       minlength="6"
                       #password_confirmation="ngModel"
                       placeholder="Confirm Password">

                <span class="md-line"></span>
              </div>
              <div class="alert-danger" *ngIf="f.submitted && password_confirmation.invalid">
                <div *ngIf="password_confirmation.errors.required">Confirm Password is required</div>
                <div *ngIf="password_confirmation.errors.minlength">
                  Confirm Password must match Password
                </div>
              </div>
              <div class="row m-t-25 text-left">
                <div class="col-md-12">
                  <div class="checkbox-fade fade-in-primary">
                    <label>
                      <input type="checkbox" value="">
                      <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
                      <span class="text-inverse">I read and accept <a href="javascript:;">Terms &amp; Conditions.</a></span>
                    </label>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="checkbox-fade fade-in-primary">
                    <label>
                      <input type="checkbox" value="">
                      <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
                      <span class="text-inverse">Send me the <a href="javascript:;">Newsletter</a> weekly.</span>
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <button class="btn btn-primary btn-block">Sign Up</button>
              </div>
              <div class="row m-t-30">
                <div class="col-md-10">
                  <p class="text-inverse text-left m-b-0">Already have an account?
                    <a [routerLink]="['/auth/login']" class="text-right f-w-600 text-inverse"> Login here</a></p>
                </div>
              </div>
              <hr/>
            </div>
        </form>

        <!-- end of form -->
      </div>
      <!-- Authentication card end -->
    </div>

    <!-- end of col-sm-12 -->
  </div>
  <!-- end of row -->
  </div>
  <!-- end of -->
</section>
